body {
    background-color: rgb(189, 185, 185);
}

h1 {
    color: rgb(255, 217, 0);
}

h2 {
    color: red;
}

.historia img {
        max-width: 400px;
        max-height:500px;
    }
    .container {
        clear: both;
        margin-top: 20px;
    }
    img {
        vertical-align: top
    }

    .ultimo img {
        max-width: 400px;
        max-height: 500px;
    }
    .container {
        clear: both;
        margin-top: 20px;
    }
    img {
        vertical-align: top
    }